{% extends "todolist/blank.html" %}

{% block body %}
<div class="content-group">
    <h3>{% if form_title %}{{ form_title }}{% else %}Add or edit a task{% endif %}</h3>
    <form method="POST" class="crud-form">
        {% csrf_token %}
        <div class="form-group">
            <p>{{ form.description.label_tag }}</p>
            {{ form.description }}
        </div>

        <div class="form-group">
            {{ form.priority }} {{ form.priority.label_tag }}
        </div>

        <div class="button-group">
            <button type="submit" class="btn primary">Save</button>
            <a href="{% url 'todo-list' %}" class="btn info">Back to List</a>
            {% if todo.id %}
                <a href="{% url 'todo-delete' todo.id %}" class="btn danger">Delete</a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}