{% extends "todolist/blank.html" %}

{% block content %}
  <div class="row mt-5">
    <div class="col-md-12">
      <h1>My To-Do List</h1>
      <a href="{% url 'todo-create' %}" class="btn btn-primary my-3">Add New Task</a>
      <ul class="list-group">
        {% for todo in object_list %}
          <li class="list-group-item">
            {{ todo.description }}
            {% if todo.priority %}
            <span class="badge badge-danger">!!!</span>
            {% endif %}
            <a href="{% url 'todo-update' todo.id %}" class="btn btn-secondary btn-sm float-right ml-2">Edit</a>
            <a href="{% url 'todo-delete' todo.id %}" class="btn btn-danger btn-sm float-right">Delete</a>
          </li>
        {% empty %}
          <li class="list-group-item">No tasks available.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}