{% extends "todolist/blank.html" %}

{% block content %}
<h1>To-Do List</h1>

<div class="todo-list">
  <h3>Pending items</h3>

  <ul class="todo-items">
    {% for todo in todos %}

      {% if not todo.completed %}
        <li class=todo-item>
          <input class="todo-checkbox" type="checkbox" value="">
          <a href="{% url 'todo-update' todo.id %}" class="">
            <span class="todo-description">
            {{ todo.description }}
            </span>
          </a>
          {% if todo.priority %}
            <span class="priority-badge">!</span>
          {% endif %}

        </li>
      {% endif %}

      {% empty %}
      <li>No tasks available.</li>

    {% endfor %}
  </ul>

  <a href="{% url 'todo-create' %}" class="btn success">Add New Task</a>
</div>

<div class="todo-list">
  <h3>Completed items</h3>

  <ul class="todo-items">
    {% for todo in todos %}

      {% if todo.completed %}
        <li class=todo-item>
          <a href="{% url 'todo-update' todo.id %}">
            <s class="todo-description">{{ todo.description }}</s>
          </a>

        </li>
      {% endif %}

      {% if forloop.counter == forloop.revcounter and not todo.completed %}
        <li>No finished tasks.</li>
      {% endif %}

    {% endfor %}
  </ul>

  <form action="{% url 'todo-clear' %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn secondary">Clear completed</button>
  </form>

</div>
{% endblock %}