{% extends "todolist/blank.html" %}

{% block content %}
  <div class="">
    <h1>{% if view.title %}{{ view.title }}{% else %}Add a task{% endif %}</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <p> {{ form.description.label_tag }} </p>
            {{ form.description }}
        </div>

        <div class="form-group">
            {{ form.priority }} {{ form.priority.label_tag }}
        </div>

        <div class="form-group">
            <button type="submit" class="btn primary">Save</button>
            <a href="{% url 'todo-list' %}" class="btn info">Back to List</a>
        </div>
      </form>

  </div>
{% endblock %}