/* Base style */

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #f9f9f9;

    --color-border: #d9d9d9;

    --color-primary: #0d6efd;
    --color-secondary: #6c757d;
    --color-success: #198754;
    --color-danger: #dc3545;
    --color-warning: #ffc107;
    --color-info: #0dcaf0;

    --default-font-size: 1.6rem;
}

* {
    margin: 0px;
    padding: 0px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

body {
    background: var(--color-white);
    color: var(--color-black);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--default-font-size);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2.5rem;
}

h1 {
    text-transform: uppercase;
}

/* To-do list */

.content-group {
    margin: 2.0rem 1.0rem;
}

.todo-list {
    list-style: none;
    margin: 1.2rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 1.0rem;
    border: 0.1rem solid var(--color-border);
    border-radius: 0.25rem;
    background-color: var(--color-gray);
}

.todo-checkbox {
    margin-right: 1.0rem;
}

.priority-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    font-weight: 600;
    font-size: 1.6rem;
    margin-left: auto;
    border-radius: 50%;
    color: var(--color-danger);
    background-color: var(--color-warning);
}

/* Buttons */

.btn {
    display: inline-block;
    font-weight: 500;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    margin: 0.2rem 0.2rem 1.0rem 0;
    padding: 0.75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: var(--color-white);
}

.primary {
    background-color: var(--color-primary);
}

.secondary {
    background-color: var(--color-secondary);
}

.success {
    background-color: var(--color-success);
}

.danger {
    background-color: var(--color-danger);
}

.info {
    background-color: var(--color-info);
}

/* Forms */

.crud-form > * {
    margin: 1.2rem 0;
}

textarea {
    padding: 8px;
    border: 0.1rem solid var(--color-border);
    border-radius: 0.25rem;
}
